<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                {{ author.get_full_name }}
            </div>
            <div class="h3 text-muted">
                {{ author.get_username }}
            </div>
        </div>
    </div>

    <li class="list-group-item">
        <div class="h6 text-muted">
            Subscribers: {{author.following.count}} <br />
            Follow: {{author.follower.count}}
        </div>
    </li>
    <li class="list-group-item">
        <div class="h6 text-muted">
            Posts: {{ author.posts.count }}
        </div>
    </li>
    {% if request.user != author and profile %}
    <li class="list-group-item">
        {% if following %}
        <a class="btn btn-lg btn-light" href="{% url 'profile_unfollow' author.username %}" role="button">
            Unsubscribe
        </a>
        {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'profile_follow' author.username %}" role="button">
            Subscribe
        </a>
        {% endif %}
    </li>
    {% endif %}
</div>