{% extends "base.html" %}
{% block title %} Latest updates {% endblock %}
{% load thumbnail %}
{% block content %}
<div class="container">

    {% include "includes/menu.html" with index=True %}

    <h1>Latest updates on site</h1>
    {% load cache %}
    {% cache 20 index_page %}
    {% for post in page %}
    {% include "includes/post_item.html" with post=post %}
    {% endfor %}
    {% endcache %}
    {% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

</div>
{% endblock %}