<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">Ya</span>tube</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        User: {{ user.username }}.
        <a class="p-2 text-dark" href="{% url 'new_post' %}">New Post</a>
        <a class="p-2 text-dark" href="{% url 'password_change' %}">Change Password</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Log In</a> |
        <a class="p-2 text-dark" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</nav>