{% extends "base.html" %}
{% block title %}{{author.username}}{% endblock %}
{% block header %}Профиль пользователя {{author.username}}{% endblock %}
{% block content %}
{% load thumbnail %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
        {% include "includes/author_card.html" with author=author following=following profile=True %}
        <div class="col-md-9">
            {% for post in page %}
                {% include "includes/post_item.html" with post=post %}      
            {% endfor %}
            {% include "includes/paginator.html" %}
        </div>
    </div>
</main>
{% endblock %}